<?php
/**
 * @Author huaixiu.zhen
 * http://litblc.com
 * User: z00455118
 * Date: 2018/8/30
 */

return [
    'app_debug' => true,
    'type' => 'mysqli',
    'mysql' => [
        'host' => 'localhost',
        'port' => '3306',
        'user' => 'username',
        'password' => '****',
        'charset' => 'utf8',
        'database' => 'database',
    ],
];